<h1>mat-table sort example</h1>
<mat-card>
For the complete tutorial please go through <a href="https://www.angularjswiki.com/material/mat-table-sort/">https://www.angularjswiki.com/material/mat-table-sort/</a>
</mat-card>
<h2>mat-table sort</h2>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort #empTbSort="matSort">
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
      <td mat-cell *matCellDef="let emp"> {{emp[column]}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let emprow; columns: displayedColumns;"></tr>

</table>

<h2>mat-table with custom sortingDataAccessor</h2>

<table mat-table [dataSource]="dataSourceWithObjectColumn" class="mat-elevation-z8" matSort #empTbSortWithObject="matSort">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumnsWithObject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
        <ng-container *ngIf="column=='project.name'">
          <td mat-cell *matCellDef="let emp"> {{emp.project.name}} </td>
        </ng-container>
        <ng-container *ngIf="column!='project.name'">
          <td mat-cell *matCellDef="let emp"> {{emp[column]}} </td>
        </ng-container>
        
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsWithObject"></tr>
    <tr mat-row *matRowDef="let emprow; columns: displayedColumnsWithObject;"></tr>

</table>





